

.tests-container {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border-radius: 10px;
  justify-content: space-around;
  height: 24vh;
  min-width: 70%;
  align-items: center;
  /* margin-top: 10px; */
  transition: transform 0.9s ease;
  margin-top: 50px;
  margin-bottom: 20px;
}
/* .tests-container:hover{
    transform: scale(1.1);
   } */
.individual-test {
  height: 80px;
  width: 80px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  overflow: hidden;
  position: relative;
  top: 0px;
  transition: transform 0.9s ease;
}
.individual-test:hover {
  transform: scale(1.2);
}
/* .individual-test::after{
    content:"";
    position:absolute;
    left:50%;
    top:50%;
    background-color:white;
    height:100%;
    width:2px; 

    

   } */
.home-container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  /* margin-top: 400px; */
}

/* .home-home-test-component-container {
  height: 100%;
  background-color: #0ea13f;
} */

.home-image-container {
  background-color: transparent;
  padding: 10px;
  border: none;
  background: purple;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 15px;
  margin: 5px;
}
.imageName {
  text-align: center;
  color: white;
  font-size: 23px;
}
/* .image-container::after{
    content:"";
    position:absolute;
    right:12%;
    
    background-color:white;
    height:100%;
    width:2px; 


    

   } */

.home-card-item-heading-container {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.cards-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 1px -1px 1px 1px rgba(1, 0, 0, 0.2);
  width: 100%;
  padding: 10px;
  margin: 10px;
  align-items: center;
}
.popular-package-heading {
  align-self: flex-start;
  margin-top: 5px;
  font-size: 30px;
  color: #8a0da5;
  margin-left: 10px;
  font-weight: bold;
}

.scroll-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.hr-line {
  padding: 0px;
  margin: 0px;
}

.individual-cards-container {
  display: flex;
  gap: 1px;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: calc(100% - 80px); /* Adjust based on button size */
}

/* .individual-card {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 40%;
  height: auto;
  box-shadow: 1px 1px 1px 1px rgba(1, 0, 0, 0.2),
    -1px -1px 1px 1px rgba(1, 0, 0, 0.2);
  margin: 5px 5px 15px 5px;
  border-radius: 10px;
  transition: transform 0.9s ease;
} */
/* .individual-card:hover {
  transform: translateY(-10px);
  background-color: purple;
  color: white;
} */
.individual-cards-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  flex-wrap: wrap;
}
/* 
.test-card-heading-container {
  display: flex;
  justify-content: space-between;
} */

hr {
  border: 1px solid black;
  border-width: 100%;
}
.info-img {
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.info-container-paragraph {
  align-self: center;
  margin-left: 10px;
}

.home-types-booking-container {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* .test-purpose {
  display: flex;
  justify-content: space-between;
} */

.know-more-paragraph {
  color: #0057b7;
  align-self: flex-end;
  margin-right: 5px;
}

.button-container {
  display: flex;
  align-self: center;
}

.quality-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 10px;
  margin-left: 10%;
}

.button {
  background-color: purple;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* padding-bottom:5px; */
  height: 50px;
  border-width: 0px;
  width: 130px;
}

.view-button {
  background-color: purple;
  color: white;
  align-self: center;
  width: 20%;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  border-width: 0px;
}



/* .why-choose-us-heading {
  color: purple;
  text-align: left;
  margin-top: 10px;
} */

/* .why-choose-us-sub-container {
  display: flex;
  justify-content: space-around;
} */
/* .why-choose-us-card-container-1 {
  width: 45vw;
} */
.why-choose-us-card-container-2 {
  width: 45vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .why-choose-us-paragraph {
  text-align: left;
  font-size: 25px;
  font-weight: 600;
  padding: 20px;
} */

.health-packages-container {
  width: 95vw;
}

.discount-images {
  height: 300px;
  width: 300px;
  margin: 10px;
  object-fit: contain;
}

.slider-container {
  width: 90%;
  align-self: center;
}

.slider-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 1px 1px rgba(1, 0, 0, 0.2),
    -1px -1px 1px 1px rgba(1, 0, 0, 0.2);
  padding: 50px;
}

.each-quality {
  display: flex;
  width: 30%;
}

.quality-content-container {
  align-self: center;
  width: 30%;
  margin-left: 10px;
}

/* .stamp-image{
      height
    } */

.stamp-sub-container-1 {
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 1px 1px rgba(1, 0, 0, 0.2),
    -1px -1px 1px 1px rgba(1, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  height: auto;
  width: 50%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.stamp-container {
  display: flex;
  width: 100%;
  background-color: white;
  justify-content: center;
}

.stamp-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
}
.test-images-container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(1, 0, 0, 0.2),
    -1px -1px 1px 1px rgba(1, 0, 0, 0.2);
  margin: 5px;
  justify-content: center;
}
.each-test-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.bold-image-name {
  text-align: center;
}
.questions-container {
  display: flex;
  flex-direction: column;
}
.questions-heading {
  text-align: center;
  color: purple;
  font-weight: bold;
  margin-top: 10px;
}

@media (max-width: 478px) {
  .home-container {
    width: 100% !important;
    align-items: center;
  }
  .header-elements {
    font-size: 15px !important;
  }
  .tests-container {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
    width: 100%;
    /* height: 40vh; */
    margin-top: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .slider-container {
    width: 100%;
  }
  .individual-test {
    height: 70px;
    width: 70px;
    border-radius: 35px;
  }
  .home-image-container {
    margin: 10px;
    width: 200px;
    align-items: center;
    height: 250px;
    border: none;
    border-bottom: 1px solid white;
  }
  .discount-images {
    height: 100%;
    width: 100%;
    margin: 10px;
    object-fit: contain;
  }
  .imageName {
    text-align: center;
    color: white;
    font-size: 20px;
  }
  .cards-container {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .individual-card {
    width: 90%;
  }
  .strong {
    font-size: 14px;
  }
  .quality-container {
    flex-direction: column;
    width: 90%;
    align-self: center;
  }
  .each-quality {
    width: 90%;
    justify-content: center;
    margin-top: 10px;
  }
  .stamp-container {
    flex-direction: column;
  }
  /* .why-choose-us-paragraph{
  font-size:5px;
} */
  .stamp-sub-container-1 {
    width: 90%;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
  }

  .test-images-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(1, 0, 0, 0.2),
      -1px -1px 1px 1px rgba(1, 0, 0, 0.2);
  }
  .questions-container {
    align-items: center;
  }
  /* .why-choose-us-heading {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
  } */
  /* .why-choose-us-paragraph {
    text-align: center;
  } */
  .view-button {
    width: 80%;
  }
  .stamp-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    /* align-items: center; */
    /* flex-wrap: nowrap; */
  }
  .stamp-img {
    height: 100px;
    width: 100px;
  }
  .stamp-bold-content {
    align-self: center;
    margin-top: 10px;
  }
}

.individual-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.individual-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
}

.test-card-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: linear-gradient(135deg, #f0f0f0, #d9c4db); /* Example gradient */
  border-bottom: 1px solid #ddd;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 8px;
}

.card-price-heading {
  color: rgb(133, 11, 163);
  font-size: 20px;
  font-weight: bold;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 0;
}

.info-container {
  display: flex;
  align-items: center;
}

.info-img {
  height: 28px;
  width: 28px;
  margin-right: 15px;
}

.info-container-paragraph {
  margin: 0;
  margin-top: -8px;
  font-size: 15px;
  color: #555;
}

.strong {
  font-weight: 700;
  color: #333;
}

.home-types-booking-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-types-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.home-type-item {
  color: #0ea13f;
  font-weight: bold;
  font-size: 16px;
  background-color: #eafbea;
  border-radius: 5px;
  margin-right: 50px;
}

.button-container {
  display: flex;
  align-items: center;
}

.cart-add-remove-icons {
  font-size: 20px;
  width: 60px;
  height: 40px;
  padding: 3px;
}

.buttton {
  background-color: #8a0da5;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 40px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0041a3;
}
/* 
.why-choose-us-card-container-3 {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
} */

/* .testimonial-slider {
  display: flex;
  animation: slide 15s linear infinite;
} */

/* .why-choose-us-tesimonials {
  flex: 0 0 auto;
  min-width: 300px;
  margin: 0 10px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.why-choose-us-tesimonials p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.why-choose-us-tesimonials .author {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  font-style: italic;
} */

/* Animation Keyframes */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Container and Heading */
.testimonials-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.testimonials-heading {
  font-size: 35px;
  color: #8a0da5;
  margin-bottom: 20px;
}

.testimonials-sub-container {
  display: flex;
  align-items: center;
}

/* About Section */
.testimonials-about-container {
  margin-bottom: 30px;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 400px;
  margin-right: 5px;
}

.testimonials-paragraph {
  font-size: 17px;
  color: #4e4343;
  line-height: 1.6;
  text-align: left;
  padding: 10px;
}

/* Slider Container */
.testimonials-slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 400px;
  margin-bottom: 30px;
}

.testimonials-slider {
  display: flex;
  animation: slide 15s linear infinite;
}

/* Testimonial Cards */
.testimonials-card {
  flex: 0 0 auto;
  width: 350px;
  height: 300px;
  margin: 0 10px;
  padding: 30px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: left;
}

.testimonials-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.testimonials-text {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.testimonials-slider-heading {
  font-size: 30px;
  font-weight: bold;
  color: #8a0da5;
  margin-bottom: 30px;
}

.testimonials-author {
  font-size: 14px;
  color: #8a0da5;
  font-style: italic;
}

/* Animation */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


.test-individual-health-packages-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.test-individual-heading {
  text-align: center;
  margin-bottom: 10px;
  font-size: 32px;
  color: #8a0da5;
}

.test-individual-scroll-buttons {
  position: relative;
  padding: 25px;
}

.test-individual-scroll-button {
  background-color: transparent;
  color: #8a0da5;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.test-individual-scroll-button:hover {
  color: #8c45a0;
}

.test-individual-scroll-button.left {
  left: 0px; 
  padding-right: 100px;
}

.test-individual-scroll-button.right {
  right: 0px;
  padding-left: 100px;
}


.test-individual-test-card-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 10px 20px;
  scroll-behavior: smooth;
  max-width: 100%;
  scrollbar-width: none;
}

.test-individual-test-card {
  flex: 0 0 auto;
  width: 350px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.test-individual-test-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.test-individual-test-card-title-container {
  background: linear-gradient(135deg, #f0f0f0, #d9c4db);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.test-individual-test-card-title {
  font-size: 18px;
  font-weight: bold;
  color: #8a0da5;
}

.test-individual-test-card-price {
  font-size: 16px;
  font-weight: bold;
  color: #8a0da5;
}


.test-individual-test-card-button-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}



.test-individual-popular-test-info-container {
  display: flex;
  margin-top: 5px;
}

.test-individual-info-img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

.test-individual-popular-test-info-container-paragraph {
  margin-top: 3px;
}

.test-individual-popular-test-home-types-booking-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.test-individual-popular-test-home-types-list {
  display: flex;
  align-items: center;
}

.test-individual-popular-test-home-type-item {
  color: #0ea13f;
  font-weight: bold;
  font-size: 16px;
  background-color: #eafbea;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
}

.test-individual-popular-test-button {
  background-color: #8a0da5;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 80px;
  height: 30px;
  align-self: center;
  transition: background-color 0.3s ease;
}


.test-individual-cart-add-remove-icons {
  font-size: 30px;
  width: 80px;
  margin-bottom: 5px;
  margin-right: 50px;
  display: flex;
  align-self: center;
}




