.test-home-container {
    width: 100%;
    overflow: hidden; /* Hide the overflow content for horizontal scroll */
  }
  
  .test-scroll-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .test-individual-cards-container {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-behavior: smooth;
    padding: 10px;
    width: 100%; /* Ensures that the container fills the available space */
  }
  
  .test-individual-card {
    width: 300px; /* Adjust width for each card */
    margin: 0 10px;
  }
  
  .test-scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #000;
    cursor: pointer;
    z-index: 10;
  }
  
  .test-scroll-button.left {
    left: 0;
  }
  
  .test-scroll-button.right {
    right: 0;
  }
  