.text-secondary {
    --tw-text-opacity: 1;
    color: rgb(62 64 149 / var(--tw-text-opacity));
}
.uppercase {
    text-transform: uppercase;
}
.text-\[1\.8rem\] {
    font-size: 1.8rem;
}
.font-semibold {
    font-weight: 600;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.num{
    position: relative;
    margin-top: 20px;
}