.order-details-first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.order-details-main-container {
    display: flex;
    flex-direction: row;
    /* min-height: 100vh; */
}

.order-details-card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.order-details-main-heading {
    font-size: 40px;
    align-self: flex-start;
    padding-left: 218px;
}

.order-details-heading {
    align-self: flex-start;
}

.order-details-main-section-1 {
    margin: 10px;
}

.order-details-member-details-container {
    background-color: #f9f9f9;
}

.order-details-test-checkup-container {
    background-color: #eee9e2;
}

.order-details-sub-section-1 {
    display: flex;
    margin-right: 20px;
}

.order-details-sub-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} 

.btn-button {
    background-color: #6a1b9a;
    color: #ffffff;
    border-radius: 8px;
    border-width: 0px;
    border: none;
    padding: 8px;
    font-size: 15px;
}