/* Main Container */
.tests-checkups-main-container {
  padding: 20px;
  background-color: #f9f9f9;
  /* width: 100%;
  max-width: 600px; */
  width: 350px;
  margin: auto;
  margin-top: 10px;
  /* border-radius: 8px; */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  transition: box-shadow 0.3s ease;
}

.tests-checkups-main-container:hover {
  /* box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); */
}

/* Heading */
.tests-checkups-heading {
  margin-bottom: 16px;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  /* text-align: center; */
}

/* Test Items */
.test-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  margin-bottom: 10px;
  /* border: 1px solid #ddd; */
  border-radius: 6px;
  background-color: #ffffff;
  /* transition: transform 0.2s, box-shadow 0.2s; */
}

/* .test-item-container:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

/* Test Item Details */
.test-item-card-container {
  display: flex;
  flex-direction: column;
}

.test-item-name {
  font-size: 16px;
  font-weight: 500;
  color: #555;
}

.test-item-price {
  font-size: 14px;
  color: #888;
}

/* Buttons */
.test-item-delete-button {
  color: #6a1b9a;
  background-color: #ffffff;
  border: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.add-more-tests-button {
  background-color: transparent;
  color: #6a1b9a;
  border: 2px solid #6a1b9a;
  padding: 5px 12px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.add-more-tests-icon {
  font-size: 20px;
  margin-right: 5px;
}

.test-item-button:hover,
.add-more-tests-button:hover {
  background-color: #500c8b;
  transform: scale(1.05);
  color: #ffffff;
}

/* Total Price Section */
.total-price-section {
  margin-top: 20px;
  text-align: center;
}

.total-price-section h4 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* No Tests Message */
.no-tests-message {
  text-align: center;
  font-size: 14px;
  color: #888;
  margin: 20px 0;
}
